body {
  height: 100%;
}
#header {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 20px;
}
#footer {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 20px;
}
#body {
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
}
#audio-wave-container {
  flex: 1;
  margin-right: 20px;
}
#audio-wave {
  width: 100%;
  height: 500px;
  background-color: #dcdcdc;
}
#settingForm {
  flex: 1;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.btn.disabled {
  cursor: not-allowed;
}
#morning,
#lunch,
#dinner,
#myButton {
  width: 120px;
  height: 36px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-right: 10px;
}
#myButton.active {
  background-color: #b3b3b3;
}
.time-input-group {
  display: flex;
  align-items: center;
}
.time-input-group input[type="time"] {
  width: 80px;
  height: 26px;
  margin-left: 10px;
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
